.game-board-yellow{
  background-color: yellow;
  height: 150px;
}
.game-board-red{
  background-color: red;
  height: 150px;
}
.game-board-green{
  background-color: green;
  height: 150px;
}
.game-board-blue{
  background-color: blue;
  height: 150px;
}


@-webkit-keyframes colorFlash {
  25% {
    background-color: black;
  }
}

.colorFlash {
    -webkit-animation-name: colorFlash;
    -webkit-animation-duration: 200ms;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: ease-in-out;
}