/**
 *  Do not remove the comment below. It's the markers used by wiredep to inject
 *  sass dependencies when defined in the bower.json of your dependencies
 */
// bower:scss
// endbower

table, tr, th, td{
  border: 1px solid lightgrey;
  border-collapse: collapse;
}

md-card{
  background-color: #f5f5f5;
}

.s48 {
  width: 100px;
  height: 100px;
  color: #00f; }

/**
 *  Do not remove the comment below. It's the markers used by gulp-inject to inject
 *  all your sass files automatically
 */
// injector
// endinjector