<md-content flex layout-padding ng-show="appsCtrl.popularApps.length || appsCtrl.appList.length">

  <div layout="row">
    <h1>Most Popular</h1>
  </div>
  <div layout="row">
    <md-card ng-repeat="app in appsCtrl.popularApps">
      <md-icon md-svg-icon=""></md-icon>
      <md-card-content>
        <h2 class="md-title" ng-bind="app.name"></h2>
        <p ng-bind="app.desc"></p>
      </md-card-content>
      <md-card-actions layout="row" layout-align="center center">
        <md-button class="md-raised md-warn"
                   ng-click="appsCtrl.installNow(app)"
                   ng-hide="app.installInProgress">
          Quick Install
        </md-button>
        <md-button class="md-raised"
                   ng-click="appsCtrl.viewInstall(app.installId)"
                   ng-show="app.installInProgress">
          Installing...
        </md-button>
        <md-button class="md-raised md-warn"
                   ng-click="appsCtrl.likeApp(app)">
          Like
        </md-button>
      </md-card-actions>
    </md-card>
  </div>

  <br><br>

  <div layout="row">
    <h1>All Apps</h1>
  </div>
  <table ng-show="appsCtrl.appList.length">
    <tr>
      <th>Name</th>
      <th>Latest Version</th>
      <th>Released On</th>
      <th>Developer</th>
      <th>Size</th>
      <th></th>
    </tr>
    <tr ng-repeat="app in appsCtrl.appList">
      <td ng-bind="app.name"></td>
      <td ng-bind="app.version"></td>
      <td ng-bind="app.date"></td>
      <td ng-bind="app.dev"></td>
      <td ng-bind="app.size"></td>
      <td>
        <md-button class="md-raised md-warn"
                   ng-click="appsCtrl.installNow(app)"
                   ng-hide="app.installInProgress">
          Quick Install
        </md-button>
        <md-button class="md-raised"
                   ng-click="appsCtrl.viewInstall(app.installId)"
                   ng-show="app.installInProgress">
          Installing...
        </md-button>
      </td>
    </tr>
  </table>

</md-content>