<md-content flex layout-padding ng-show="appsCtrl.popularApps.length || appsCtrl.appList.length">

  <div layout="row">
    <h1>Most Popular</h1>
  </div>
  <div layout="row">
    <md-card ng-repeat="app in appsCtrl.popularApps" flex>
      <md-card-content>
        <md-icon md-svg-src="{{app.svgIconFile}}" class="size100"></md-icon>
        <p class="md-title" ng-bind="app.appName"></p>
        <p ng-bind="app.description"></p>
      </md-card-content>
      <md-card-actions layout="row">
        <install-flipper stage-holder="app"
                         on-click="appsCtrl.installNow(app)">
        </install-flipper>
        <md-icon md-svg-src="ic_thumb_up_black_48px.svg"
                 class="thumbsUpIcon size40"
                 ng-class="{thumbsUpIconLiked: app.liked}"
                 ng-click="appsCtrl.likeApp(app)">
        </md-icon>
      </md-card-actions>
    </md-card>
  </div>

  <br><br>

  <cb-table name="appsCtrl.cbTableName"
            headers="appsCtrl.cbTableHeaders"
            data="appsCtrl.appList">
  </cb-table>

  <br><br>
  <div ng-show="appsCtrl.showAdmin">
    <label><input type="text" ng-model="appsCtrl.admin.newApp.name" placeholder="name"></label><br>
    <label><input type="text" ng-model="appsCtrl.admin.newApp.id" placeholder="id"></label><br>
    <label><input type="text" ng-model="appsCtrl.admin.newApp.version" placeholder="version"></label><br>
    <label><input type="text" ng-model="appsCtrl.admin.newApp.date" placeholder="date"></label><br>
    <label><input type="text" ng-model="appsCtrl.admin.newApp.dev" placeholder="dev"></label><br>
    <label><input type="text" ng-model="appsCtrl.admin.newApp.size" placeholder="size"></label><br>
    <label><input type="text" ng-model="appsCtrl.admin.newApp.desc" placeholder="desc"></label><br>
    <label><input type="text" ng-model="appsCtrl.admin.newApp.svgIcon" placeholder="svgIcon"></label><br>
    <button ng-click="appsCtrl.addNewApp()">Add new app</button><br><br>
    <label><input type="text" ng-model="appsCtrl.deleteAppId" placeholder="id to delete"></label><br>
    <button ng-click="appsCtrl.deleteApp()">Delete app</button>
  </div>

</md-content>
